<h1>{{title}}</h1>

<h2>Enter the User Data</h2>
<br>
<form #userform="ngForm" (ngSubmit)="getuser(userform)">
  <input type="text" name="userName" placeholder="Enter User Name here" required ngModel>
  <br>
  <br>
  <input type="tel" name="mobile" placeholder="Enter Mobile Number here" required ngModel>
  <br>
  <br>
  <input type="email" name="email" placeholder="Enter User Email here" required ngModel>
  <br>
  <br>

  <button type="submit" [disabled]="userform.invalid">Add</button>
  <br>
  <br>
  
</form>

<hr>

<button (click)="tglusers()">Show Users</button>
<br>
<div>

</div>

<div *ngIf="showusr; else tgluser">
  <div *ngIf="userarr.length > 0; else nousrs">
    <ul *ngFor="let usr of userarr;let i = index">
      <h4>Data of User {{i+1}}</h4>
      <li>Name : {{usr.name}}</li>
      <li>Number : {{usr.mnum}}</li>
      <li>Email : {{usr.email}}</li>
      <br>

    </ul>

  </div>

  <ng-template #nousrs>
    <p>No users available</p>
  </ng-template>

</div>

<br>

<ng-template #tgluser>
  <h4>Click the button to see users</h4>
</ng-template>
<hr>

<button (click)="tgldelusers()">Delete Users</button>

<div *ngIf="showdel; else tgldeluser">
  <div *ngIf="userarr.length > 0; else nousrsd">
    <div *ngFor="let usr of userarr;let i = index">
      <h4>Delete User {{i+1}}</h4>
      <p>username : {{usr.name}}</p>  <button (click)="deluser(usr.id)">Delete</button>      

    </div>

  </div>

  <ng-template #nousrsd>
    <p>No users available to Delete</p>
  </ng-template>


</div>

<ng-template #tgldeluser>
  <h4>Click the button to delete users</h4>
</ng-template>

<hr>





